<div style="width: 100%;" *ngFor="let comp of components; let i = index" style="padding-top:5px;">
    <div crud-factory [type]="comp.type" [clazzName]="comp.clazzName" [broadcast]="broadcast" [index]="i"></div>
</div>
<!--
<table>
    <tr>
        <td *ngFor="let comp of components; let i = index">
            <div *ngIf="comp.type != 'Table'" crud-factory [type]="comp.type" [clazzName]="comp.clazzName" [index]="i"></div>
        </td>
    </tr>
</table>
-->
<div class="container-fluid">
    <div class="row" style="padding-top:20px;" id="buttons{{clazz}}">
        <div class="col-md-12 text-left">
            <span class="pull-left" style="margin-right:20px;">
                <button class="btn btn-primary btn-margin-vertical" type="button" (click)="save()"><strong><i class="fa fa-plus"></i>&nbsp; {{ 'COMMON.BUTTON.SAVE' | translate }}</strong></button>                            
            </span>        

            <span *ngIf="showRemove" class="pull-left" style="margin-right:20px;">
                <button class="btn btn-danger btn-margin-vertical" type="button" (click)="remove()"><strong><i class="fa fa-minus"></i>&nbsp; {{ 'COMMON.BUTTON.REMOVE' | translate }}</strong></button>
            </span>

            <span class="pull-left" style="margin-right:20px;">
                <button class="btn btn-danger btn-margin-vertical" type="button" (click)="cancel()"><strong><i class="fa fa-backward"></i>&nbsp; {{ 'COMMON.BUTTON.CANCEL' | translate }}</strong></button>                            
            </span>

        </div>
    </div>
</div>
